name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  format:
    uses: ./.github/workflows/format.yaml
  pre-commit:
    uses: ./.github/workflows/pre-commit.yaml
  test:
    uses: ./.github/workflows/test.yaml
  test-install-local:
    uses: ./.github/workflows/test-install-local.yaml
